@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@font-face {
    font-family: 'kupalords-font';
    src: url('fonts/StylingZero-RpjPM.ttf');
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(20, 20, 20);
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    left: 50px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.top-background{
    background: linear-gradient(#8d2bbb, #5e1281);
    height: 800px;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background: red;
}
.content h1{
    font-size: 80px;
    margin-top: 80px;
    font-family: "Rakkas", serif;
    letter-spacing: 10px;
    color: #fff;
}
.content p{
    font-size: 20px;
    margin: 20px auto;
    font-weight: 100;
    color: #fff;
}
button{
    width: 200px;
    padding: 15px;
    text-align: 20px;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: none;
    background: #3d0c53;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
button:hover span{
    width: 100%;
}
button:hover{
    background: #9668ad;
}

.body-content{
    background-color: rgb(20, 20, 20);
    height: 100%;
}


@media screen and (max-width: 2560px) and (min-width: 2560px) {
    .content{
        top: 50%;
        background: transparent;
    }
}
@media screen and (max-width: 425px) {
    .content{
        top: 10px;
        background: red;
    }
}